@import "reset";
@import "./variables/global";
@import "./themes/common";
@import "./themes/dark";
@import "./themes/orange";

body {
    font: var(--font-m);
    font-weight: var(--font-weight-m);
    color: var(--primary-text-color);
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.main-content-block {
    display: flex;
}

