:root {
    --font-family-main: verdana, sans-serif;

    //S
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-weight-s: 400;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    //M
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-weight-m: 400;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    //L
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-weight-l: 700;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    //XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-weight-xl: 700;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    //sizes
    --navbar-height: 70px;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 100px;

    //z-indexes
    --modal-z-index: 1000;
    --overlay-z-index: 100;

    //colors
    --overlay-color: rgb(0 0 0 / 60%);
    --red-light: #ff4b4b;
    --red-dark: #e51c1c;
}
