.title {
    font: var(--font-l);
    color: var(--primary-text-color);
}

.bodyText {
    font: var(--font-m);
    color: var(--inverted-primary-text-color);
}

.error {
    .title {
        color: var(--red-dark);
    }

    .bodyText {
        color: var(--red-light);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-text-color);
    }

    .bodyText {
        color: var(--inverted-secondary-text-color);
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.size_s {
    .title {
        font: var(--font-s);
    }

    .bodyText {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .bodyText {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .bodyText {
        font: var(--font-l);
    }
}
