.title {
    font: var(--font-l);
    color: var(--primary-text-color);
}

.bodyText {
    font: var(--font-m);
    color: var(--inverted-primary-text-color);
}

.error {
    .title {
        color: var(--red-dark);
    }

    .bodyText {
        color: var(--red-light);
    }
}
