.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer.dark {
    --bg-color: #0190a0;
    --primary-text-color: #f3f3f3;
}

.content {
    max-width: 60%;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    border-radius: 6px;
    padding: 10px 15px;
    cursor: default;
    transition: 0.3s transform;
    transform: scale(0.5);
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.closing {
    .content {
        transition: 0.2s transform;
        transform: scale(0.3);
    }
}
