.sideBarContainer {
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.langSwitcher {
    margin-left: 10px;
}

.switchers {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 20px;
    width: 100%;
}

.toggleCollapseBtn {
    position: absolute;
    right: 6px;
}

.linkIcon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
}

.links {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 30px;
}

.link {
    margin-top: 20px;
    white-space: nowrap;

    span {
        opacity: 1;
        transition: opacity 0.3s;
    }

    &:hover {
        .linkIcon {
            fill: var(--inverted-primary-text-color);
        }
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column-reverse;
    }

    .langSwitcher {
        margin: 0 0 10px;
    }

    .link span {
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }
}
