.sideBarContainer {
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.langSwitcher {
    margin-left: 10px;
}

.switchers {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 20px;
    width: 100%;
}

.toggleCollapseBtn {
    position: absolute;
    right: 6px;
}

.links {
    margin: 40px 0 0 30px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column-reverse;
    }

    .langSwitcher {
        margin: 0 0 10px;
    }
}
