.ArticleListContainer {
    width: 100%;
    display: flex;

    &.BIG {
        gap: 20px;
        flex-direction: column;
    }

    &.SMALL {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
}
