.ArticleListItemContainer {

}

.BIG {
    .imageWrapper{

    }

    .img{

    }

    .date{

    }

    .infoWrapper{

    }

    .types{

    }

    .views{

    }

    .title{

    }
}

.SMALL {
    width: 230px;
    transition: all 0.2s;
    cursor: pointer;

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .infoWrapper {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .types {
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100px;
        }
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        p {
            margin-top: 8px;
        }
    }
}
