@import "reset";
@import "variables/global";
@import "themes/common";
@import "themes/dark";


.app {
  font: var(--font-m);
  font-weight: var(--font-weight-m);

  background-color: var(--bg-color);
  color: var(--primary-text-color);

  min-height: 100vh;
}