.app_light_theme {
    --bg-color: #e3dfdf;
    --inverted-bg-color: #0190a0;
    --primary-text-color: #141414;
    --secondary-text-color: #171616;
    --inverted-primary-text-color: #f3f3f3;
    --inverted-secondary-text-color: #3a3a3a;
}
