.app_light_theme {
    --bg-color: #e3dfdf;
    --inverted-bg-color: #0190a0;
    --primary-text-color: #141414;
    --secondary-text-color: #171616;
    --inverted-primary-text-color: #1c0101;
    --inverted-secondary-text-color: #3a3a3a;

    // skeleton
    --skeleton-color: #0190a0;
    --skeleton-shadow: #f3f3f3;

    //code
    --code-bg: #b7b1b1;

    //card
    --card-bg: #044b54;
}
