.app.light {
  --bg-color: #e3dfdf;
  --inverted-bg-color: #5a69c0;

  --primary-text-color: #0190a0;
  --secondary-text-color: #81e057;
  --inverted-primary-text-color: #eaa53a;
  --inverted-secondary-text-color: #c95367;
}