.app_dark_theme {
    --bg-color: #0190a0;
    --inverted-bg-color: #e3dfdf;
    --primary-text-color: #f3f3f3;
    --secondary-text-color: #0190a0;
    --inverted-primary-text-color: #262c2d;
    --inverted-secondary-text-color: #171616;

    // skeleton
    --skeleton-color: #e3dfdf;
    --skeleton-shadow: #e3dfdf;

    //code
    --code-bg: #14c8e3;
}
