.app_dark_theme {
    --bg-color: #0190a0;
    --inverted-bg-color: #e3dfdf;
    --primary-text-color: #f3f3f3;
    --secondary-text-color: #0190a0;
    --inverted-primary-text-color: #0196c0;
    --inverted-secondary-text-color: #171616;
}
