.app_orange_theme {
    --bg-color: #e5dde7;
    --inverted-bg-color: #bd5012;
    --primary-text-color: #9a1a0e;
    --secondary-text-color: #dbd5dc;
    --inverted-primary-text-color: #561313;
    --inverted-secondary-text-color: #faf4fb;

    // skeleton
    --skeleton-color: #9a1a0e;
    --skeleton-shadow: #bd5012;

    //code
    --code-bg: #b7b1b1;
}
