.navBarContainer {
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 10px;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.actions {
    margin-left: auto;
    white-space: nowrap;
}
