.profilePageHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageTitleLabel {
    margin-bottom: 20px;
}

.editBtnContainer {
    display: flex;
    gap: 8px;
}
