.profileCardContainer {
    padding: 20px 40px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 4px;
}

.editing {
    border: 2px solid var(--primary-text-color);
}

.loading,
.error {
    height: 300px;
}
