.pageTitleLabel {
    margin-bottom: 20px;
}

.input {
    margin-top: 20px;
}

.profileCardContainer {
    padding: 20px 40px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 4px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
