.counterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counterValueTitle{
  color: red;
}

.counterIncreaseBtn{
  padding: 10px;
  border-radius: 4px;
}
